body {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 15vh;
    background-color: gray;
}

.box {
    width: 11vh;
    height: 11vh;
    margin: 20px 10px 20px 10px;
    float: left;
    background-color: blue;
}

.stripe {
    width: 100%;
    height: 14vh;
}

.white {
    width: 100%;
    height: 29vh;
    background-color: white;
    text-align: left;
    font-family: sans-serif;
    font-size: larger;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.teal {
    background-color: teal;
}


footer {
    background-color: yellow;
}
